@charset "UTF-8";
/*---------------------------------

  base

---------------------------------*/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  font-family: "凸版文久見出し明朝", "Toppan Bunkyu Midashi Mincho", serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  position: relative;
}

/*---------------------------------

  header

  1.header
    1.1 banner
        1.1.1 drawer-hamburger
        1.1.2 drawer-nav
    1.2 header__menu
        1.2.1 header__logo
        1.2.2 header__nav
    1.3 maine__logo
    1.4 swiper-container

---------------------------------*/
/*  
    1.1.1 drawer-hamburger
---------------------------------*/
.drawer-hamburger {
  display: none;
}

/*  
    1.2 header__menu
---------------------------------*/
.header__menu {
  display: flex !important;
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 7.13vw;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3000000,endColorstr=#B3000000);
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: space-between;
}

.header__menu:not(:target) {
  filter: none;
}

/*  
    1.2.1 header__logo
---------------------------------*/
.header__logo {
  margin-top: 2.13vw;
  margin-left: 2.5vw;
}

.header__logo img {
  display: none;
}

.header__title {
  color: #fff;
  font-weight: normal;
  font-size: 2.08vw;
  line-height: 2.08vw;
  font-family: "Toppan Bunkyu Midashi Mincho";
  letter-spacing: 0.2em;
}

.header__title::before {
  color: #fff;
  font-weight: normal;
  font-size: 1.19vw;
  font-family: "Toppan Bunkyu Midashi Mincho";
  letter-spacing: 0.2em;
  content: "暮らしの体験宿 ";
}

.header__lead {
  color: #fff;
  font-weight: normal;
  font-size: 0.78vw;
  font-family: "Toppan Bunkyu Midashi Mincho";
  letter-spacing: 0.2em;
}

/*  
    1.2.2 header__nav
---------------------------------*/
.header__nav {
  margin-right: 4.11vw;
}

.nav__list {
  display: flex;
  height: 100%;
  text-align: center;
  align-items: center;
}

.nav__item {
  margin-left: 3.32vw;
}

.nav__item:hover {
  opacity: 0.5;
  cursor: pointer;
}

.nav__item a {
  color: #fff;
  font-size: 1.3vw;
  line-height: 1.2;
  font-family: "Toppan Bunkyu Midashi Mincho";
  letter-spacing: 0.1em;
}

.nav__item a span {
  margin-top: 0.57vw;
  font-size: 0.78vw;
  font-family: "Toppan Bunkyu Midashi Mincho";
  letter-spacing: 0.1em;
}

/*  
    1.3 maine__logo
---------------------------------*/
.maine__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 46.25vw;
  height: 24.53vw;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50% -50%);
}

.maine__logo img {
  width: 100%;
  height: 100%;
}

/*  
    1.4 swiper-container
---------------------------------*/
.swiper-container {
  width: 100%;
  height: 56.19vw;
}

.swiper-slide {
  width: 100%;
  max-width: 1920px;
  height: auto;
  background-position: center center;
  background-size: cover;
}

.swiper-container--iphonex {
  display: none;
}

/*---------------------------------

    header 768px 幅

---------------------------------*/
@media screen and (max-width: 1079px) {
  /*  
        1.1.1 drawer-hamburger
    ---------------------------------*/
  .drawer-hamburger {
    display: block;
    top: -0.65vw;
    z-index: 100;
    padding: 0 3.45vw 0 0;
    height: 7.13vw;
  }
  .drawer-hamburger-icon {
    width: 4.03vw;
    background-color: #fff;
  }
  .drawer-hamburger-icon::before {
    top: -1.69vw;
    width: 4.03vw;
    background-color: #fff;
  }
  .drawer-hamburger-icon::after {
    width: 4.03vw;
    top: 1.69vw;
    background-color: #fff;
  }
  /*  
        1.1.2 drawer__nav
    ---------------------------------*/
  .drawer--right .drawer-nav {
    right: -100%;
  }
  .drawer-nav {
    color: #fff;
    z-index: 4;
    width: 100%;
    height: 56.2vw;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B3000000,endColorstr=#B3000000);
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
  }
  .drawer-nav:not(:target) {
    filter: none;
  }
  .drawer--right.drawer-open .drawer-hamburger {
    right: 0;
  }
  .drawer-brand {
    width: 18.09vw;
    height: 3.51vw;
    margin-top: 1.82vw;
    margin-left: 3.77vw;
  }
  .drawer-menu-item {
    position: relative;
    margin-top: 3.56vw;
    padding: 0;
    color: #fff;
    font-size: 1.95vw;
    line-height: 1.2;
    font-family: "Toppan BunkyuMidashiMinStdN";
    letter-spacing: 0.1em;
  }
  .drawer-menu-item span {
    font-size: 1.69vw;
    font-family: "Toppan BunkyuMidashiMinStdN";
    letter-spacing: 0.1em;
  }
  .drawer-menu-item img {
    position: absolute;
    bottom: 4.03vw;
    width: 3.64vw;
    height: auto;
  }
  .drawer-menu-item--facebook {
    cursor: pointer;
    transition: .4s;
  }
  .drawer-menu-item--facebook:hover {
    opacity: .5;
  }
  .drawer-menu-item--facebook img {
    right: 15.23vw;
  }
  .drawer-menu-item--insta {
    cursor: pointer;
    transition: .4s;
  }
  .drawer-menu-item--insta:hover {
    opacity: .5;
  }
  .drawer-menu-item--insta img {
    right: 5.59vw;
  }
  .drawer-menu li:nth-child(2) {
    margin-top: 4.29vw;
  }
  /*  
        1.2.1 header__logo
    ---------------------------------*/
  .header__logo {
    width: 18.09vw;
    height: 3.51vw;
  }
  .header__logo img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .header__title {
    display: none;
  }
  .header__lead {
    display: none;
  }
  .header__nav {
    display: none;
  }
}

/*---------------------------------

  header 414px 幅

---------------------------------*/
@media screen and (max-width: 767px) {
  /*  
        1.1.1 drawer-hamburger
    ---------------------------------*/
  .drawer-hamburger {
    padding: 0 3.45vw 0 0;
    top: -1.2vw;
  }
  .drawer-hamburger-icon {
    width: 4.03vw;
  }
  /*  
        1.1.2 drawer__nav
    ---------------------------------*/
  .drawer-nav {
    height: 123.48vw;
  }
  .drawer-menu-item {
    margin-top: 7.29vw;
    font-size: 3.14vw;
    line-height: 1.1;
  }
  .drawer-menu-item span {
    display: block;
    transform: scale(0.7);
    margin-top: 1.88vw;
    font-size: .1rem;
  }
  .drawer-menu-item img {
    display: none;
  }
  .drawer-brand {
    width: 43.2vw;
    height: 8.53vw;
    margin-top: 4vw;
    margin-left: 4.8vw;
  }
  /*  
        1.2.1 header__logo
    ---------------------------------*/
  .header__logo {
    width: 20.53vw;
    height: 4.1vw;
    margin: 1.44vw 0 0 4.83vw;
  }
}

/*---------------------------------

  header iphoneX 幅

---------------------------------*/
@media screen and (max-width: 413px) {
  /*  
    1.1.1 drawer-hamburger
    ---------------------------------*/
  .drawer-hamburger {
    padding: 0 6.74vw 0 0;
    height: 16.61vw;
  }
  .drawer-hamburger-icon {
    width: 6.12vw;
  }
  .drawer-hamburger-icon::before {
    width: 6.12vw;
    top: -2.4vw;
  }
  .drawer-hamburger-icon::after {
    width: 6.12vw;
    top: 2.4vw;
  }
  /*  
        1.1.2 drawer__nav
    ---------------------------------*/
  .drawer-nav {
    width: 82.66vw;
    height: 179.01vw;
  }
  .drawer-menu li {
    margin-top: 10.72vw;
  }
  .drawer-menu li:nth-child(1) {
    margin-top: 0;
  }
  .drawer-menu li:nth-child(2) {
    margin-top: 22.13vw;
  }
  .drawer-menu li:nth-child(7) {
    display: inline-block;
    width: 15.46vw;
    height: 13.6vw;
    margin-top: 20.16vw;
  }
  .drawer-menu li:nth-child(8) {
    display: inline-block;
    width: 15.46vw;
    height: 13.6vw;
    margin-left: 16.53vw;
  }
  .drawer-menu-item {
    font-size: 4vw;
    line-height: 1.2;
  }
  .drawer-menu-item span {
    margin-top: 1.54vw;
    font-size: 3.46vw;
  }
  .drawer-menu-item img {
    display: block;
    position: static;
    width: 15.46vw;
    height: 13.6vw;
  }
  .drawer-menu-item--facebook {
    margin-top: 0;
  }
  .drawer-menu-item--insta {
    margin-top: 0;
  }
  /*  
        1.2 header__menu
    ---------------------------------*/
  .header__menu {
    height: 16.61vw;
  }
  /*  
        1.2.1 header__logo
    ---------------------------------*/
  .header__logo {
    width: 43.2vw;
    height: 8.53vw;
    margin: 4vw 0 0 4.26vw;
  }
  /*  
        1.3 maine__logo
    ---------------------------------*/
  .maine__logo {
    width: 77.14vw;
    height: 49.17vw;
  }
  /*  
        1.4 swiper-container
    ---------------------------------*/
  .swiper-container {
    display: none;
  }
  .swiper-container--iphonex {
    display: block;
    height: 179.01vw;
  }
}

/*---------------------------------

  section1

  1. secton1
    1. 1section1__inner
        1.1.1 section1__content
        1.1.2 section1__image
    2. section1__box--gray

---------------------------------*/
/*  
  1. section1
---------------------------------*/
.section1 {
  position: relative;
}

/*  
  1.1 section1__inner
---------------------------------*/
.section1__inner {
  display: flex;
  margin-bottom: 7.14vw;
  margin-left: 8.07vw;
  padding-top: 8.54vw;
  justify-content: space-between;
}

/*  
  1.1.1 section1__content
---------------------------------*/
.section1__content {
  width: 100%;
  max-width: 47vw;
}

.section1__content__title {
  -ms-color: #000;
  color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  font-size: 2.6vw;
  line-height: 3rem;
  letter-spacing: 0.1em;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.section1__content__text--ja {
  margin-top: 3.54vw;
  -ms-color: #000;
  color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  font-size: 1.82vw;
  line-height: 2.6vw;
  letter-spacing: 0.1em;
  text-align: left;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.ihponex__br {
  display: none;
}

.section1__content__text--en {
  margin-top: 3.48vw;
  -ms-color: #000;
  color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  font-size: 1.82vw;
  line-height: 2.6vw;
  letter-spacing: 0.1em;
  text-align: left;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.sm__block {
  display: none;
}

.section1__content__btn {
  display: inline-block;
  margin: 6.56vw 0 0 10.67vw;
  padding: 2.3rem 3.7rem;
  border: 1px solid #000;
  -ms-color: #000;
  color: rgba(0, 0, 0, 0.9);
  font-size: 1.04vw;
  letter-spacing: 0.1em;
  text-align: center;
  text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.16);
  transition: .4s;
}

.section1__content__btn:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6000000,endColorstr=#E6000000);
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
}

.section1__content__btn:hover:not(:target) {
  filter: none;
}

/*  
  1.1.2 section1__image
---------------------------------*/
.section1__image {
  margin-right: 7.08vw;
}

.section1__image--l, .section1__image--s {
  width: 36.35vw;
  height: auto;
}

.section1__image--s {
  margin-top: 4.16vw;
}

.section1__image--l img, .section1__image--s img {
  width: 100%;
  height: 100%;
}

/*  
  1.2 section1__box--gray
---------------------------------*/
.section1__box--gray {
  position: absolute;
  top: 5.18vw;
  left: 23.07vw;
  z-index: -1;
  width: 59.84vw;
  height: 36.45vw;
  background-color: #f8f8f8;
}

/*---------------------------------

  section1 768px 幅

---------------------------------*/
@media screen and (max-width: 1079px) {
  /*  
        1.1 section1__inner
    ---------------------------------*/
  .section1__inner {
    height: 46.99vw;
    margin: 8.52vw 0 10.14vw 8.07vw;
  }
  /*  
        1.1.1 section1__content
    ---------------------------------*/
  .section1__content {
    width: 100%;
    max-width: 42.7rem;
  }
  .section1__content__title {
    font-size: 2.47vw;
    line-height: 1.43vw;
    letter-spacing: 0.1em;
  }
  .section1__content__text--ja {
    margin-top: 3.64vw;
    font-size: 1.69vw;
    line-height: 2.47vw;
    letter-spacing: 0.1em;
  }
  .section1__content__text--en {
    margin-top: 4.3vw;
    font-size: 1.69vw;
    line-height: 2.47vw;
    letter-spacing: 0.1em;
  }
  .section1__content__btn {
    padding: 1.57rem 2.57rem 1.28rem;
    transform: scale(0.7);
    font-size: 1rem;
  }
  /*  
        1.1.2 section1__image
    ---------------------------------*/
  .section1__image {
    width: 43.12vw;
    height: auto;
    position: relative;
  }
  .section1__image--l {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 43.12vw;
  }
  .section1__image--s {
    position: absolute;
    right: 27.99vw;
    bottom: -2.91vw;
    width: 21.5vw;
  }
}

/*---------------------------------

  section1 414px 幅

---------------------------------*/
@media screen and (max-width: 767px) {
  /*  
        1.1 section1__inner
    ---------------------------------*/
  .section1__inner {
    display: block;
    height: auto;
    margin: 9.13vw 11.83vw 1.98rem 8.07vw;
  }
  /*  
        1.1.1 section1__content
    ---------------------------------*/
  .section1__content {
    width: 100%;
    max-width: 42.7rem;
  }
  .section1__content__title {
    font-size: 3.38vw;
    letter-spacing: 0.1em;
  }
  .section1__content__text--ja {
    margin-top: 2.66rem;
    transform: scale(0.9);
    transform-origin: left top;
    font-size: 1rem;
    line-height: 3.14vw;
    letter-spacing: 0.1em;
  }
  .section1__content__text--en {
    display: inline-block;
    transform: scale(0.9);
    transform-origin: left top;
    margin-top: 3.82rem;
    font-size: 1rem;
    line-height: 3.14vw;
    letter-spacing: 0.1em;
    vertical-align: bottom;
  }
  .section1__content__btn {
    margin-left: 5.2rem;
    padding: 2.65vw 4.83vw 2.17vw;
    font-size: 1.69vw;
  }
  /*  
        1.1.2 section1__image
    ---------------------------------*/
  .section1__image {
    width: 264px;
    height: 150px;
    margin: 41.6px auto 19.8px;
  }
  .section1__image--l {
    width: 200px;
    height: 137px;
    margin: 0 0 0 auto;
    top: 0;
  }
  .section1__image--s {
    width: 100px;
    height: 67.4px;
    margin-top: 0;
    top: 83.2px;
    left: 0;
  }
  .section1__image--l img, .section1__image--s img {
    width: 100%;
    height: 100%;
  }
  /*  
        1.2 section1__box--gray
    ---------------------------------*/
  .section1__box--gray {
    display: none;
  }
}

/*---------------------------------

  header iphoneX 幅

---------------------------------*/
@media screen and (max-width: 413px) {
  /*  
        1.1 section1__inner
    ---------------------------------*/
  .section1__inner {
    margin: 25.65vw 0 0;
  }
  /*  
        1.1.1 section1__content
    ---------------------------------*/
  .section1__content {
    width: 100%;
    max-width: 100vw;
    padding-left: 12.45vw;
    text-align: right;
  }
  .section1__content__title {
    font-size: 5.86vw;
    text-align: left;
  }
  .section1__content__text--ja {
    transform: scale(1);
    width: 295px;
    margin-top: 23.94vw;
    font-size: 4vw;
    line-height: 6.66vw;
    letter-spacing: 0.1em;
  }
  .sm__block {
    display: inline-block;
  }
  .section1__content__text--en {
    display: block;
    transform: scale(1);
    margin-top: 3.82rem;
    font-size: 4vw;
    line-height: 5.6vw;
  }
  .section1__content__btn {
    padding: 3.01vw 6.45vw;
    font-size: 3.2vw;
  }
  /*  
        1.1.2 section1__image
    ---------------------------------*/
  .section1__image {
    display: flex;
    position: static;
    width: 100%;
    height: 86vw;
    margin: 4.72vw 0 8.93vw;
    flex-direction: column-reverse;
  }
  .section1__image--l {
    position: static;
    width: 72.26vw;
    height: 47.59vw;
    margin: 0 0 0 auto;
  }
  .section1__image--s {
    position: static;
    width: 57.19vw;
    height: 38.41vw;
  }
  /*  
        1.2 section1__box--gray
    ---------------------------------*/
  .section1__box--gray {
    display: inline-block;
    position: absolute;
    top: -9.62vw;
    left: 44.8vw;
    width: 55.5vw;
    height: 201.22vw;
  }
}

/*---------------------------------

  section2

  1. secton2
    1.1 section2__vertical-title
    1.2 section2__titile__unit
    1.3 section2__content
        1.3.1 section__message
        1.3.2 section__image

---------------------------------*/
/*  
  1. section2
---------------------------------*/
.section2 {
  position: relative;
  padding: 7.29vw 0 7.76vw;
  background-color: #f8f8f8;
}

/*  
  1.1 section2__vertical-title
---------------------------------*/
.section2__vertical-title {
  opacity: 0.1;
  position: absolute;
  top: 16.66vw;
  left: -3.48vw;
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -ms-color: #000;
  color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  font-size: 7.29vw;
  line-height: 1.56vw;
  letter-spacing: 0.1em;
  text-align: center;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
}

/*  
  1.2 section2__titile__unit
---------------------------------*/
.section2__title__unit {
  margin-left: 6.14vw;
}

.section2__title {
  -ms-color: #000;
  color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  font-size: 3.12vw;
  letter-spacing: 0.1em;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
}

.section2__title-line {
  display: inline-block;
  width: 15.15vw;
  height: 2px;
  margin: 1.73vw 0 1.79vw 12.52vw;
  background-color: black;
}

/*  
  1.3 section2__content
---------------------------------*/
.section2__content {
  position: relative;
  width: 80vw;
  height: 51.14vw;
  margin-left: 16.09vw;
}

/*  
  1.3.1 section2__message
---------------------------------*/
.section2__message {
  opacity: 0.9;
  position: absolute;
  top: 7.29vw;
  width: 39.63vw;
  height: 24.21vw;
  background-color: #fff;
}

.section2__message__inner {
  margin: 0 4.66vw 0 3.95vw;
  padding-top: 4.01vw;
  text-align: right;
}

.section2__content__text--ja {
  -ms-color: #000;
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.93vw;
  line-height: 1.56vw;
  letter-spacing: 0.1em;
  text-align: left;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.section2__content__text--en {
  margin-top: 3.46vw;
  -ms-color: #000;
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.78vw;
  letter-spacing: 0.1em;
  text-align: left;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.section2__btn {
  display: inline-block;
  margin-top: 5.39vw;
  padding: 1.02vw 1.61vw 0.75vw;
  -ms-color: #000;
  color: rgba(0, 0, 0, 0.9);
  font-size: 0.78vw;
  letter-spacing: 0.1em;
  text-align: center;
  text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.16);
  border: 1px solid #333;
  transition: .4s;
}

.section2__btn:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6000000,endColorstr=#E6000000);
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
}

.section2__btn:hover:not(:target) {
  filter: none;
}

/*  
  1.3.2 section2__image
---------------------------------*/
.section2__image--l {
  width: 46.77vw;
  height: 30.36vw;
  margin: 0 0 0 auto;
}

.section2__photo--l {
  width: 100%;
  height: 100%;
}

.section2__image--grid {
  width: 80vw;
  height: 15.52vw;
  margin-top: 5.26vw;
}

.section2__photo--grid {
  width: 100%;
  height: 100%;
}

/*---------------------------------

  section1 768px 幅

---------------------------------*/
@media screen and (max-width: 1079px) {
  /*  
      1. section2
    ---------------------------------*/
  .section2 {
    padding: 7.58vw 0 0;
  }
  /*  
      1.1 vertical-title
    ---------------------------------*/
  .section2__vertical-title {
    font-weight: normal;
    font-size: 7.29vw;
    font-family: "Toppan Bunkyu Midashi Mincho";
  }
  /*  
      1.2 section2__title__unit
    ---------------------------------*/
  .section2__title__unit {
    margin-left: 6.45vw;
  }
  .section2__title {
    font-size: 2.99vw;
  }
  .section2__title-line {
    height: 3px;
    margin: 2.16vw 0 1.79vw 12.22vw;
  }
  /*  
      1.3 section2__content
    ---------------------------------*/
  .section2__content {
    width: 80.1vw;
  }
  /*  
    1.3.1 section2__message
    ---------------------------------*/
  .section2__message {
    width: 39.63vw;
    height: 24.21vw;
    position: absolute;
    top: 7.29vw;
    opacity: 0.9;
    background-color: #fff;
  }
  .section2__message__inner {
    text-align: right;
    padding-top: 4.01vw;
    margin: 0 0 0 3.95vw;
  }
  .section2__content__text--ja {
    transform: scale(0.6);
    transform-origin: left top;
    width: 29.7rem;
    font-size: 1rem;
    line-height: 1.56vw;
    letter-spacing: 0.1em;
  }
  .section2__content__text--en {
    transform: scale(0.6);
    transform-origin: left top;
    margin-top: 4.41vw;
    font-size: 1rem;
    letter-spacing: 0.1em;
  }
  .section2__btn {
    transform: scale(0.5);
    transform-origin: top;
    margin-top: 2.69vw;
    padding: 2.08vw 4.32vw 1.71vw 4.68vw;
    font-size: 1rem;
  }
}

/*---------------------------------

  section1 414px 幅

---------------------------------*/
@media screen and (max-width: 767px) {
  /*  
        1.1 vertical-title
    ---------------------------------*/
  .section2__vertical-title {
    top: 26.66vw;
    left: -11.48vw;
    font-weight: normal;
    font-size: 13.52vw;
    line-height: 2.89vw;
    font-family: "Toppan BunkyuMidashiMinStdN";
    letter-spacing: 0.1em;
  }
  /*  
      1.2 section2__title__unit
    ---------------------------------*/
  .section2__title {
    font-size: 4.58vw;
  }
  .section2__title-line {
    width: 28.13vw;
    height: 3px;
    margin: 2.16vw 0 0 17.65vw;
    vertical-align: bottom;
  }
  /*  
        1.3 section2__content
    ---------------------------------*/
  .section2__content {
    position: static;
    width: 100%;
    height: auto;
    margin-left: 0;
  }
  /*  
        1.3.1 section2__message
    ---------------------------------*/
  .section2__message {
    position: static;
    width: 73.56vw;
    height: 44.95vw;
    margin-left: 22.46vw;
  }
  .section2__message__inner {
    padding-top: 6.69vw;
    margin: 0 0 0 7.34vw;
  }
  .section2__content__text--ja {
    transform: scale(0.9);
    font-size: 1rem;
    line-height: 1em;
  }
  .section2__content__text--en {
    transform: scale(0.9);
    margin-top: 7.46vw;
    font-size: 1rem;
    line-height: 1em;
  }
  .section2__btn {
    transform: scale(0.7);
    margin: 9.22vw 0 0 0;
    padding: 3.44vw 6.9vw 3.1vw;
    font-size: 1rem;
    letter-spacing: 0.1em;
  }
  /*  
        1.3.2 section2__image
    ---------------------------------*/
  .section2__image--l {
    width: 86.8vw;
    height: 56.35vw;
    margin: 0 auto;
  }
  .section2__image--grid {
    width: 100%;
    height: auto;
    margin-top: 4.68vw;
  }
}

/*---------------------------------

  header iphoneX 幅

---------------------------------*/
@media screen and (max-width: 413px) {
  /*  
        1. section2
    ---------------------------------*/
  .section2 {
    padding-bottom: 6.98vw;
  }
  /*  
        1.1 vertical-title
    ---------------------------------*/
  .section2__vertical-title {
    top: 58.66vw;
    left: -20vw;
    z-index: 1;
    font-size: 21.33vw;
    font-family: "Toppan Bunkyu Midashi Mincho";
  }
  /*  
        1.2 section2__titile__unit
    ---------------------------------*/
  .section2__title__unit {
    margin-left: 12.8vw;
  }
  .section2__title {
    font-size: 6.66vw;
  }
  .section2__title-line {
    width: 51.2vw;
    height: 1px;
    margin: 7.3vw 0 0 21.4vw;
  }
  /*  
        1.3.1 section2__message
    ---------------------------------*/
  .section2__message {
    width: 71.73vw;
    height: 106.66vw;
    margin: 12.13vw 0 0 auto;
  }
  .section2__message__inner {
    margin: 0 5.33vw 0 5.86vw;
    padding-top: 6.42vw;
  }
  .section2__content__text--ja {
    transform: scale(1);
    width: 60.8vw;
    height: 60.55vw;
    font-size: 4vw;
    line-height: 6.66vw;
  }
  .br__pc {
    display: none;
  }
  .section2__content__text--en {
    transform: scale(1);
    font-size: 4vw;
    line-height: 5.6vw;
    margin-top: 6.82vw;
  }
  .section2__btn {
    transform: scale(1);
    margin-top: 6.66vw;
    padding: 3.01vw 6.45vw;
    font-size: 3.2vw;
  }
  /*  
        1.3.2 section2__image
    ---------------------------------*/
  .section2__image {
    margin-top: 6.4vw;
  }
  .section2__image--l {
    width: 100%;
    height: auto;
  }
  .section2__image--grid {
    width: 100%;
    height: auto;
    margin-top: 8vw;
  }
}

/*---------------------------------

  section3

  1. secton2
    1.1 section3__vertical-title
    1.2 section3__titile__unit
    1.3 section3__content
        1.3.1 section__message
        1.3.2 section__image

---------------------------------*/
/*  
  1. section3
---------------------------------*/
.section3 {
  position: relative;
  padding: 7.29vw 0 7.76vw;
  background-color: #fff;
}

/*  
  1.1 section3__vertical-title
---------------------------------*/
.section3__vertical-title {
  opacity: 0.1;
  position: absolute;
  top: 26.66vw;
  left: -13.68vw;
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -ms-color: #000;
  color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  font-size: 3.64vw;
  line-height: 1.56vw;
  font-family: "Toppan BunkyuMidashiMinStdN";
  letter-spacing: 0.1em;
  text-align: center;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
}

/*  
  1.2 section3__titile__unit
---------------------------------*/
.section3__title__unit {
  margin-left: 6.66vw;
}

.section3__title {
  -ms-color: #000;
  color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  font-size: 3.12vw;
  letter-spacing: 0.1em;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
}

.section3__title-line {
  display: inline-block;
  width: 18.72vw;
  height: 2px;
  margin: 1.73vw 0 0.19vw 12.52vw;
  background-color: black;
}

/*  
  1.3 section3__content
---------------------------------*/
.section3__content {
  position: relative;
  width: 80vw;
  height: 51.14vw;
  margin-left: 16.09vw;
}

/*  
  1.3.1 section3__message
---------------------------------*/
.section3__message {
  opacity: 0.9;
  position: absolute;
  top: 0;
  right: 0;
  width: 39.63vw;
  height: 24.21vw;
  background-color: #f8f8f8;
}

.section3__message__inner {
  margin: 0 4.66vw 0 3.95vw;
  padding-top: 4.01vw;
  text-align: right;
}

.section3__content__text--ja {
  -ms-color: #000;
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.93vw;
  line-height: 1.56vw;
  letter-spacing: 0.1em;
  text-align: left;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.section3__content__text--en {
  margin-top: 3.46vw;
  -ms-color: #000;
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.78vw;
  letter-spacing: 0.1em;
  text-align: left;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.section3__btn {
  display: inline-block;
  transition: .4s;
  margin-top: 5.39vw;
  padding: 1.02vw 1.61vw 0.75vw;
  border: 1px solid #333;
  -ms-color: #000;
  color: rgba(0, 0, 0, 0.9);
  font-size: 0.78vw;
  letter-spacing: 0.1em;
  text-align: center;
  text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.16);
}

.section3__btn:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6000000,endColorstr=#E6000000);
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
}

.section3__btn:hover:not(:target) {
  filter: none;
}

/*  
  1.3.2 section3__image
---------------------------------*/
.section3__image--l {
  width: 46.77vw;
  height: 30.36vw;
  padding-top: 7.85vw;
}

.section3__photo--l {
  width: 100%;
  height: 100%;
}

.section3__image--grid {
  margin-top: 3.48vw;
  width: 80vw;
  height: 15.52vw;
}

.section3__photo--grid {
  width: 100%;
  height: 100%;
}

/*---------------------------------

  section1 768px 幅

---------------------------------*/
@media screen and (max-width: 1079px) {
  /*  
      1. section3
    ---------------------------------*/
  .section3 {
    padding: 7.73vw 0 7.46vw;
  }
  /*  
      1.1 vertical-title
    ---------------------------------*/
  .section3__vertical-title {
    opacity: 0.1;
    top: 29.66vw;
    font-weight: normal;
    font-size: 3.64vw;
    line-height: 12px;
    font-family: "Toppan Bunkyu Midashi Mincho";
    letter-spacing: 0.1em;
  }
  /*  
      1.2 section3__title__unit
    ---------------------------------*/
  .section3__title__unit {
    margin-left: 8.73vw;
  }
  .section3__title {
    font-size: 2.99vw;
  }
  .section3__title-line {
    width: 23.93vw;
    height: 3px;
    margin: 2.16vw 0 0 10.92vw;
    vertical-align: bottom;
  }
  /*  
      1.3 section3__content
    ---------------------------------*/
  .section3__content {
    width: 80.1vw;
    margin-top: 0.5vw;
  }
  /*  
    1.3.1 section3__message
    ---------------------------------*/
  .section3__message {
    opacity: 0.9;
    position: absolute;
    top: 0;
    width: 39.63vw;
    height: 24.21vw;
  }
  .section3__message__inner {
    margin: 0 0 0 3.95vw;
    padding-top: 4.01vw;
    text-align: right;
  }
  .section3__content__text--ja {
    transform: scale(0.6);
    transform-origin: left top;
    width: 29.7rem;
    font-size: 1rem;
    line-height: 1.56vw;
    letter-spacing: 0.1em;
  }
  .section3__content__text--en {
    transform: scale(0.6);
    transform-origin: left top;
    margin-top: 4.41vw;
    font-size: 1rem;
    letter-spacing: 0.1em;
  }
  .section3__btn {
    transform: scale(0.5);
    transform-origin: top;
    margin-top: 2.69vw;
    padding: 2.08vw 4.32vw 1.71vw 4.68vw;
    font-size: 1rem;
  }
}

/*---------------------------------

  section1 414px 幅

---------------------------------*/
@media screen and (max-width: 767px) {
  /*  
      1. section3
    ---------------------------------*/
  .section3 {
    z-index: -2;
    padding: 0;
  }
  /*  
        1.1 vertical-title
    ---------------------------------*/
  .section3__vertical-title {
    top: 57.66vw;
    left: -31.48vw;
    z-index: -1;
    font-size: 6.76vw;
  }
  /*  
      1.2 section3__title__unit
    ---------------------------------*/
  .section3__title__unit {
    margin-left: 0;
    padding: 10.67vw 0 0 8.69vw;
    background-color: #f8f8f8;
  }
  .section3__title {
    font-size: 4.58vw;
  }
  .section3__title-line {
    display: none;
  }
  /*  
        1.3 section3__content
    ---------------------------------*/
  .section3__content {
    width: 100%;
    height: auto;
    margin-left: 0;
    position: static;
  }
  /*  
        1.3.1 section3__message
    ---------------------------------*/
  .section3__message {
    position: static;
    width: 73.56vw;
    height: 44.95vw;
    margin-left: 22.46vw;
    background-color: #fff;
  }
  .section3__message__inner {
    margin: 0 0 0 7.34vw;
    padding-top: 6.69vw;
  }
  .section3__content__text--ja {
    transform: scale(0.9);
    font-size: 1rem;
    line-height: 1em;
  }
  .section3__content__text--en {
    transform: scale(0.9);
    margin-top: 7.46vw;
    font-size: 1rem;
    line-height: 1em;
  }
  .section3__btn {
    transform: scale(0.7);
    margin: 9.22vw 0 0 0;
    padding: 3.44vw 6.9vw 3.1vw;
    font-size: 1rem;
    letter-spacing: 0.1em;
  }
  /*  
        1.3.2 section3__image
    ---------------------------------*/
  .section3__image--l {
    width: 86.8vw;
    height: 56.35vw;
    margin: 0 auto;
  }
  .section3__image--grid {
    width: 100%;
    height: auto;
    margin-top: 4.68vw;
  }
}

/*---------------------------------

  header iphoneX 幅

---------------------------------*/
@media screen and (max-width: 413px) {
  /*  
        1. section3
    ---------------------------------*/
  .section3 {
    padding: 18.4vw 0 8.26vw 0;
  }
  /*  
        1.1 vertical-title
    ---------------------------------*/
  .section3__vertical-title {
    top: 101.66vw;
    left: -47vw;
    font-size: 10.66vw;
    font-family: "Toppan Bunkyu Midashi Mincho";
  }
  /*  
        1.2 section3__titile__unit
    ---------------------------------*/
  .section3__title__unit {
    margin: 0;
    padding: 0;
    background-color: #fff;
    text-align: center;
  }
  .section3__title {
    font-size: 6.66vw;
  }
  .section3__title-line {
    display: inline-block;
    width: 56.09vw;
    height: 1px;
    margin: 7.06vw 0 0 30.4vw;
  }
  /*  
        1.3.1 section3__message
    ---------------------------------*/
  .section3__message {
    width: 71.73vw;
    height: 106.66vw;
    margin: 15.65vw 0 0 auto;
    background-color: #f8f8f8;
  }
  .section3__message__inner {
    margin: 0 5.33vw 0 5.86vw;
    padding-top: 6.42vw;
  }
  .section3__content__text--ja {
    transform: scale(1);
    width: 60.8vw;
    height: 60.55vw;
    font-size: 4vw;
    line-height: 6.66vw;
  }
  .br__pc {
    display: none;
  }
  .section3__content__text--en {
    transform: scale(1);
    margin-top: 6.82vw;
    font-size: 4vw;
    line-height: 5.6vw;
  }
  .section3__btn {
    transform: scale(1);
    margin-top: 6.66vw;
    padding: 3.01vw 6.45vw;
    font-size: 3.2vw;
  }
  /*  
        1.3.2 section3__image
    ---------------------------------*/
  .section3__image {
    margin-top: 21.3vw;
  }
  .section3__image--l {
    width: 100%;
    height: auto;
  }
  .section3__image--grid {
    width: 100%;
    height: auto;
    margin-top: 9.6vw;
  }
}

/*---------------------------------

  section4

  1. secton2
    1.1 section4__vertical-title
    1.2 section4__titile__unit
    1.3 section4__content
        1.3.1 section__message
        1.3.2 section__image

---------------------------------*/
/*  
  1. section4
---------------------------------*/
.section4 {
  position: relative;
  padding: 7.29vw 0 7.76vw;
  background-color: #f8f8f8;
}

/*  
  1.1 section4__vertical-title
---------------------------------*/
.section4__vertical-title {
  opacity: 0.1;
  position: absolute;
  top: 22.16vw;
  left: -5.48vw;
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -ms-color: #000;
  color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  font-size: 5.2vw;
  line-height: 1.56vw;
  letter-spacing: 0.1em;
  text-align: center;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
}

/*  
  1.2 section4__titile__unit
---------------------------------*/
.section4__title__unit {
  margin-left: 6.14vw;
}

.section4__title {
  -ms-color: #000;
  color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  font-size: 3.12vw;
  font-family: "Toppan Bunkyu Midashi Mincho";
  letter-spacing: 0.1em;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
}

.section4__title-line {
  display: inline-block;
  width: 15.15vw;
  height: 2px;
  margin: 1.73vw 0 1.79vw 12.52vw;
  background-color: black;
}

/*  
  1.3 section4__content
---------------------------------*/
.section4__content {
  position: relative;
  width: 80vw;
  height: 51.14vw;
  margin-left: 16.09vw;
}

/*  
  1.3.1 section4__message
---------------------------------*/
.section4__message {
  position: absolute;
  top: 7.29vw;
  opacity: 0.9;
  width: 39.63vw;
  height: 24.21vw;
  background-color: #fff;
}

.section4__message__inner {
  margin: 0 4.66vw 0 3.95vw;
  padding-top: 4.01vw;
  text-align: right;
}

.section4__content__text--ja {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.93vw;
  line-height: 1.56vw;
  letter-spacing: 0.1em;
  text-align: left;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.section4__content__text--en {
  margin-top: 3.46vw;
  -ms-color: #000;
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.78vw;
  letter-spacing: 0.1em;
  text-align: left;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.section4__btn {
  display: inline-block;
  transition: .4s;
  margin-top: 5.39vw;
  padding: 1.02vw 1.61vw 0.75vw;
  border: 1px solid #333;
  -ms-color: #000;
  color: rgba(0, 0, 0, 0.9);
  font-size: 0.78vw;
  letter-spacing: 0.1em;
  text-align: center;
  text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.16);
}

.section4__btn:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6000000,endColorstr=#E6000000);
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
}

.section4__btn:hover:not(:target) {
  filter: none;
}

/*  
  1.3.2 section4__image
---------------------------------*/
.section4__image--l {
  width: 46.77vw;
  height: 30.36vw;
  margin: 0 0 0 auto;
}

.section4__photo--l {
  width: 100%;
  height: 100%;
}

.section4__image--grid {
  width: 80vw;
  height: 15.52vw;
  margin-top: 5.26vw;
}

.section4__photo--grid {
  width: 100%;
  height: 100%;
}

/*---------------------------------

  section1 768px 幅

---------------------------------*/
@media screen and (max-width: 1079px) {
  /*  
      1. section4
    ---------------------------------*/
  .section4 {
    padding: 8.17vw 0 8.17vw;
  }
  /*  
      1.1 vertical-title
    ---------------------------------*/
  .section4__vertical-title {
    top: 24.16vw;
    font-weight: normal;
    font-size: 5.07vw;
    font-family: "Toppan BunkyuMidashiMinStdN";
  }
  /*  
      1.2 section4__title__unit
    ---------------------------------*/
  .section4__title__unit {
    margin-left: 6.96vw;
  }
  .section4__title {
    font-size: 2.99vw;
  }
  .section4__title-line {
    width: 24.77vw;
    height: 3px;
    margin: 2.16vw 0 1.79vw 12.22vw;
  }
  /*  
      1.3 section4__content
    ---------------------------------*/
  .section4__content {
    width: 80.1vw;
  }
  /*  
    1.3.1 section4__message
    ---------------------------------*/
  .section4__message {
    opacity: 0.9;
    position: absolute;
    top: 7.29vw;
    width: 39.63vw;
    height: 24.21vw;
    background-color: #fff;
  }
  .section4__message__inner {
    padding-top: 4.01vw;
    margin: 0 0 0 3.95vw;
    text-align: right;
  }
  .section4__content__text--ja {
    transform: scale(0.6);
    transform-origin: left top;
    width: 29.7rem;
    font-size: 1rem;
    line-height: 1.56vw;
    letter-spacing: 0.1em;
  }
  .section4__content__text--en {
    transform: scale(0.6);
    transform-origin: left top;
    margin-top: 4.41vw;
    font-size: 1rem;
    letter-spacing: 0.1em;
  }
  .section4__btn {
    transform: scale(0.5);
    transform-origin: top;
    font-size: 1rem;
    margin-top: 2.69vw;
    padding: 2.08vw 4.32vw 1.71vw 4.68vw;
  }
}

/*---------------------------------

  section1 414px 幅

---------------------------------*/
@media screen and (max-width: 767px) {
  /*  
        1. section4
    ---------------------------------*/
  .section4 {
    position: relative;
    background-color: #fff;
    padding: 9.95vw 0 0 0;
  }
  /*  
        1.1 vertical-title
    ---------------------------------*/
  .section4__vertical-title {
    top: 27.66vw;
    left: -7.48vw;
    font-weight: normal;
    font-size: 6.76vw;
    line-height: 2.89vw;
    font-family: "Toppan BunkyuMidashiMinStdN";
    letter-spacing: 0.1em;
  }
  /*  
      1.2 section4__title__unit
    ---------------------------------*/
  .section4__title__unit {
    margin: 0;
  }
  .section4__title {
    font-size: 4.34vw;
    text-align: center;
  }
  .section4__title-line {
    display: none;
  }
  /*  
        1.3 section4__content
    ---------------------------------*/
  .section4__content {
    position: static;
    width: 100%;
    height: auto;
    margin-left: 0;
  }
  /*  
        1.3.1 section4__message
    ---------------------------------*/
  .section4__message {
    position: static;
    width: 73.56vw;
    height: 44.95vw;
    margin-left: 22.46vw;
  }
  .section4__message__inner {
    padding-top: 6.69vw;
    margin: 0 0 0 7.34vw;
  }
  .section4__content__text--ja {
    transform: scale(0.9);
    font-size: 1rem;
    line-height: 1em;
  }
  .section4__content__text--en {
    transform: scale(0.9);
    margin-top: 7.46vw;
    font-size: 1rem;
    line-height: 1em;
  }
  .section4__btn {
    transform: scale(0.7);
    margin: 9.22vw 0 0 0;
    padding: 3.44vw 6.9vw 3.1vw;
    font-size: 1rem;
    letter-spacing: 0.1em;
  }
  /*  
        1.3.2 section4__image
    ---------------------------------*/
  .section4__image--l {
    width: 86.8vw;
    height: 56.35vw;
    margin: 0 auto;
  }
  .section4__image--grid {
    width: 100%;
    height: auto;
    margin-top: 4.68vw;
  }
}

/*---------------------------------

  header iphoneX 幅

---------------------------------*/
@media screen and (max-width: 413px) {
  /*  
        1. section4
    ---------------------------------*/
  .section4 {
    padding: 18.4vw 0 9.28vw;
    background-color: #f8f8f8;
  }
  /*  
        1.1 vertical-title
    ---------------------------------*/
  .section4__vertical-title {
    top: 94vw;
    left: -33vw;
    font-size: 16vw;
    font-family: "Toppan Bunkyu Midashi Mincho";
  }
  /*  
        1.2 section4__titile__unit
    ---------------------------------*/
  .section4__title__unit {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f8f8f8;
  }
  .section4__title {
    width: 81.6vw;
    margin: 0 auto;
    font-size: 6.66vw;
  }
  .section4__title-line {
    display: inline-block;
    width: 52.66vw;
    height: 1px;
    margin: 6vw 0 0 20.4vw;
  }
  /*  
        1.3.1 section4__message
    ---------------------------------*/
  .section4__message {
    width: 71.73vw;
    height: 106.66vw;
    margin: 14.26vw 0 0 auto;
    background-color: #fff;
  }
  .section4__message__inner {
    margin: 0 5.33vw 0 5.86vw;
    padding-top: 6.42vw;
  }
  .section4__content__text--ja {
    transform: scale(1);
    width: 60.8vw;
    height: 60.55vw;
    font-size: 4vw;
    line-height: 6.66vw;
  }
  .br__pc {
    display: none;
  }
  .section4__content__text--en {
    transform: scale(1);
    margin-top: 6.82vw;
    font-size: 4vw;
    line-height: 5.6vw;
  }
  .section4__btn {
    transform: scale(1);
    margin-top: 6.66vw;
    padding: 3.01vw 6.45vw;
    font-size: 3.2vw;
  }
  /*  
        1.3.2 section4__image
    ---------------------------------*/
  .section4__image {
    margin-top: 12.8vw;
  }
  .section4__image--l {
    width: 100%;
    height: auto;
  }
  .section4__image--grid {
    width: 100%;
    height: auto;
    margin-top: 10.4vw;
  }
}

/*---------------------------------

  section5

  1. secton5
    1.1 section5__inner
        1.1.1 section5__text

---------------------------------*/
/*  
  1.1 section5__inner
---------------------------------*/
.section5__inner {
  margin-top: 11.76vw;
}

.section5__text {
  -ms-color: #000;
  color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  font-size: 1.56vw;
  line-height: 3.64vw;
  font-family: "Toppan Bunkyu Mincho";
  letter-spacing: 0.1em;
  text-align: center;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

/*  
  1.1.1 section5__text
---------------------------------*/
.br__iphone {
  display: none;
}

/*---------------------------------

  section5 768px 幅

---------------------------------*/
@media screen and (max-width: 1079px) {
  /*  
    1.1.1 section5__text
  ---------------------------------*/
  .section5__text {
    font-size: 1.56vw;
  }
}

/*---------------------------------

  section1 414px 幅

---------------------------------*/
@media screen and (max-width: 767px) {
  .section5 {
    display: none;
  }
}

/*---------------------------------

  header iphoneX 幅

---------------------------------*/
@media screen and (max-width: 413px) {
  /*  
    1 section5
  ---------------------------------*/
  .section5 {
    display: block;
  }
  /*  
    1.1 section5__inner
  ---------------------------------*/
  .section5__inner {
    margin-top: 28.64vw;
  }
  /*  
    1.1.1 section5__text
  ---------------------------------*/
  .section5__text {
    width: 90.93vw;
    height: 108.8vw;
    margin: 0 auto;
    font-size: 4vw;
    line-height: 8vw;
  }
  .br__iphone {
    display: inline-block;
  }
}

/*---------------------------------

  section6

  1. secton6
    1.1 section6__inner
        1.1.1 section6__content
        1.1.2 section6__booking
        1.1.3 section6__contact--iphonex

---------------------------------*/
/*  
  1. section6
---------------------------------*/
.section6 {
  margin-top: 13.22vw;
}

/*  
  1.1 section6__inner
---------------------------------*/
.section6__inner {
  display: flex;
  padding-bottom: 7.05vw;
  justify-content: space-between;
}

/*  
  1.1.1 section6__contact
---------------------------------*/
.section6__contact {
  position: relative;
  width: 39.18vw;
  margin-left: 7.86vw;
  text-align: right;
}

.contact__title {
  -ms-color: #000;
  color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  font-size: 2.08vw;
  line-height: 1.56vw;
  letter-spacing: 0.1em;
  text-align: left;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
}

.contact__text--ja {
  margin: 2.03vw 0 0 5.52vw;
  -ms-color: #000;
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.9vw;
  line-height: 1.56vw;
  letter-spacing: 0.1em;
  text-align: left;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.contact__text--en {
  margin: 2.32vw 0 0 5.52vw;
  -ms-color: #000;
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.78vw;
  letter-spacing: 0.1em;
  text-align: left;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.contact__btn {
  display: inline-block;
  margin-top: 3.03vw;
  padding: 1.61vw 3.54vw 1.37vw;
  border: 1px solid #000;
  -ms-color: #000;
  color: rgba(0, 0, 0, 0.9);
  font-size: 1.04vw;
  line-height: 1.4vw;
  letter-spacing: 0.1em;
  text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.16);
  transition: .4s;
}

.contact__btn:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6000000,endColorstr=#E6000000);
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
}

.contact__btn:hover:not(:target) {
  filter: none;
}

.contact__bg {
  display: inline-block;
  position: absolute;
  top: -1.82vw;
  left: 2.55vw;
  z-index: -1;
  width: 35.26vw;
  height: 20.57vw;
  background-color: #f4f4f4;
}

/*  
  1.1.2 section6__booking
---------------------------------*/
.section6__booking {
  position: relative;
  margin-right: 8.83vw;
  width: 39.18vw;
  text-align: right;
}

.booking__title {
  -ms-color: #000;
  color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  font-size: 2.08vw;
  line-height: 1.56vw;
  letter-spacing: 0.1em;
  text-align: left;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
}

.booking__text--ja {
  margin: 2.03vw 0 0 5.52vw;
  -ms-color: #000;
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.9vw;
  line-height: 1.56vw;
  letter-spacing: 0.1em;
  text-align: left;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.booking__text--en {
  margin: 2.32vw 0 0 5.52vw;
  -ms-color: #000;
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.78vw;
  letter-spacing: 0.1em;
  text-align: left;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.booking__btn {
  display: inline-block;
  margin-top: 3.03vw;
  padding: 1.61vw 3.54vw 1.37vw;
  border: 1px solid #000;
  -ms-color: #000;
  color: rgba(0, 0, 0, 0.9);
  font-size: 1.04vw;
  line-height: 1.4vw;
  letter-spacing: 0.1em;
  text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.16);
  transition: .4s;
}

.booking__btn:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6000000,endColorstr=#E6000000);
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
}

.booking__btn:hover:not(:target) {
  filter: none;
}

.booking__bg {
  display: inline-block;
  position: absolute;
  top: -1.82vw;
  left: 2.55vw;
  z-index: -1;
  width: 35.26vw;
  height: 20.57vw;
  background-color: #f4f4f4;
}

/*  
  1.1.3 section6__contact--iphonex
---------------------------------*/
.section6__contact--iphonex {
  display: none;
}

/*---------------------------------

  section6 768px 幅

---------------------------------*/
@media screen and (max-width: 1079px) {
  /*  
        1. section6
    ---------------------------------*/
  .section6 {
    margin-top: 13.51vw;
  }
  /*  
        1.1 section6__inner
    ---------------------------------*/
  .section6__inner {
    padding-bottom: 12.69vw;
  }
  /*  
        1.1.1 section6__contact
    ---------------------------------*/
  .section6__contact {
    position: relative;
    width: 40.18vw;
    margin-left: 7.86vw;
    text-align: right;
  }
  .contact__title {
    font-weight: normal;
    font-size: 2.08vw;
    line-height: 1.56vw;
    letter-spacing: 0.1em;
  }
  .contact__text--ja {
    transform: scale(0.6);
    transform-origin: left top;
    font-size: 1rem;
    line-height: 1.6;
  }
  .contact__text--en {
    transform: scale(0.6);
    transform-origin: left top;
    margin-top: 0.74vw;
    font-size: 1rem;
  }
  .contact__btn {
    transform: scale(0.7);
    transform-origin: right top;
    margin-top: 2.03vw;
    padding: 2.51vw 6.25vw 1.87vw 5.48vw;
    font-size: 1rem;
  }
  /*  
        1.1.1 section6__booking
    ---------------------------------*/
  .section6__booking {
    position: relative;
    width: 40.18vw;
    margin-left: 0;
    text-align: right;
  }
  .booking__title {
    font-weight: normal;
    font-size: 2.08vw;
    line-height: 1.56vw;
    letter-spacing: 0.1em;
  }
  .booking__text--ja {
    transform: scale(0.6);
    transform-origin: left top;
    font-size: 1rem;
    line-height: 1.6;
  }
  .booking__text--en {
    transform: scale(0.6);
    transform-origin: left top;
    margin-top: 0.74vw;
    font-size: 1rem;
  }
  .booking__btn {
    transform: scale(0.7);
    transform-origin: right top;
    margin-top: 2.03vw;
    padding: 2.51vw 6.25vw 1.87vw 5.48vw;
    font-size: 1rem;
  }
}

/*---------------------------------

  section6 414px 幅

---------------------------------*/
@media screen and (max-width: 767px) {
  /*  
        1. section6
    ---------------------------------*/
  .section6 {
    margin-top: 16.13vw;
  }
  /*  
        1.1 section6__inner
    ---------------------------------*/
  .section6__inner {
    display: block;
  }
  /*  
        1.1.1 section6__contact
    ---------------------------------*/
  .section6__contact {
    width: 70.12vw;
    margin: 0 auto;
  }
  .contact__title {
    font-size: 3.62vw;
    line-height: 2.65vw;
    letter-spacing: 0.1em;
  }
  .contact__text--ja {
    transform: scale(0.9);
    line-height: 1rem;
  }
  .contact__text--en {
    transform: scale(0.9);
    margin-top: 4.61vw;
  }
  .contact__btn {
    margin-top: 5.43vw;
    padding: 4.75vw 11.23vw 3.47vw 10.62vw;
  }
  .contact__bg {
    top: -1.82vw;
    left: 2.55vw;
    width: 65.41vw;
    height: 38.16vw;
  }
  /*  
        1.1.1 section6__booking
    ---------------------------------*/
  .section6__booking {
    width: 70.12vw;
    margin: 12.05vw auto 0;
  }
  .booking__title {
    font-size: 3.62vw;
    line-height: 2.65vw;
    letter-spacing: 0.1em;
  }
  .booking__text--ja {
    transform: scale(0.9);
    line-height: 1rem;
  }
  .booking__text--en {
    transform: scale(0.9);
    margin-top: 4.61vw;
  }
  .booking__btn {
    margin-top: 5.43vw;
    padding: 4.75vw 11.23vw 3.47vw 10.62vw;
  }
  .booking__bg {
    top: -1.82vw;
    left: 2.55vw;
    width: 65.41vw;
    height: 38.16vw;
  }
}

/*---------------------------------

  header iphoneX 幅

---------------------------------*/
@media screen and (max-width: 413px) {
  /*  
        1. section6
    ---------------------------------*/
  .section6 {
    position: relative;
    margin-top: 22.56vw;
    text-align: center;
  }
  /*  
        1.1 section6__inner
    ---------------------------------*/
  .section6__inner {
    padding-bottom: 26.69vw;
  }
  /*  
        1.1.1 section6__contact
    ---------------------------------*/
  .section6__contact {
    display: none;
  }
  /*  
        1.1.1 section6__booking
    ---------------------------------*/
  .section6__booking {
    display: none;
  }
  /*  
        1.1.3 section6__contact--iphonex
    ---------------------------------*/
  .section6__contact--iphonex {
    display: inline-block;
  }
  .contact__title {
    -ms-color: #000;
    color: rgba(0, 0, 0, 0.8);
    font-weight: normal;
    font-size: 6.66vw;
    line-height: 1;
    letter-spacing: 0.1em;
    text-align: center;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
  }
  .contact__lead {
    margin-top: 4.53vw;
    -ms-color: #000;
    color: rgba(0, 0, 0, 0.8);
    font-size: 4vw;
    letter-spacing: 0.1em;
    text-align: center;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
  }
  .contact__text--ja {
    transform: scale(1);
    text-align: center;
    width: 56.26vw;
    margin: 10.02vw auto 0;
    font-size: 4vw;
    line-height: 6.66vw;
  }
  .contact__text--en {
    transform: scale(1);
    margin: 0;
    font-size: 4vw;
    text-align: center;
  }
  .contact__btn {
    display: block;
    transform: scale(1);
    width: 48.85vw;
    margin: 13.44vw auto 0;
    padding: 3.01vw 2.98vw 2.98vw 4.85vw;
    font-size: 3.2vw;
    text-align: center;
    transition: .4s;
  }
  .contact__btn:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6000000,endColorstr=#E6000000);
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
  }
  .contact__btn:hover:not(:target) {
    filter: none;
  }
  .booking__btn {
    display: block;
    transform: scale(1);
    width: 38.45vw;
    margin: 3.89vw auto 0;
    padding: 2.48vw 3.78vw 2.72vw 3.78vw;
    font-size: 3.2vw;
    text-align: center;
  }
  .contact__bg {
    display: inline-block;
    position: absolute;
    top: -2.93vw;
    left: 22.13vw;
    z-index: -1;
    width: 78.4vw;
    height: 99.23vw;
  }
}

/*---------------------------------

  footer

  1. footer
    1.1 footer__inner
        1.1.1 footer__logo
        1.1.2 footer__content
        1.1.3 footer__contact
    1.2 footer__bottom

---------------------------------*/
/*  
1.1 footer__inner
---------------------------------*/
.footer__inner {
  display: grid;
  height: 17.31vw;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6000000,endColorstr=#E6000000);
  background-color: rgba(0, 0, 0, 0.95);
  grid-template-columns: 24.73vw 26.09vw 1fr;
}

.footer__inner:not(:target) {
  filter: none;
}

/*  
  1.1.1 footer__logo
---------------------------------*/
.footer__logo {
  width: 21.77vw;
  height: 22.94vw;
  margin: -3.43vw 0 0 2.96vw;
}

.footer__logo img {
  width: 100%;
  height: 100%;
}

/*  
  1.1.2 footer__content
---------------------------------*/
.footer__content {
  width: 26.1vw;
  margin: 2.53vw 0 0 2.13vw;
}

.footer__content__title {
  position: relative;
  color: #fff;
  font-size: 1.56vw;
  line-height: 1.56vw;
  letter-spacing: 0.1em;
}

.footer__content__title::before {
  position: absolute;
  bottom: -.43vw;
  left: .25vw;
  width: 3.8vw;
  height: .15rem;
  background-color: #fff;
  content: "";
}

.footer__content__text {
  margin: 1.21vw 0 0 0.62vw;
  color: #fff;
  font-size: 1.19vw;
  line-height: 1.78vw;
  letter-spacing: 0.1em;
}

/*  
  1.1.3 footer__contact
---------------------------------*/
.footer__contact {
  margin: 2.53vw 0 0 15.98vw;
}

.footer__contact__title {
  position: relative;
  color: #fff;
  font-size: 1.56vw;
  line-height: 1.56vw;
  letter-spacing: 0.1em;
}

.footer__contact__title::before {
  position: absolute;
  bottom: -.43vw;
  left: .78rem;
  width: 5.57vw;
  height: .15rem;
  background-color: #fff;
  content: "";
}

.footer__address {
  margin: 1.21vw 0 0 2.13vw;
  color: #fff;
  font-size: 1.19vw;
  line-height: 1.56vw;
  letter-spacing: 0.1em;
}

.footer__logo__facebook {
  display: inline-block;
  width: 3.33vw;
  height: 3.17vw;
  margin-top: 1.22vw;
  cursor: pointer;
  transition: .4s;
}

.footer__logo__facebook:hover {
  opacity: .5;
}

.footer__logo__facebook img {
  width: 100%;
  height: 100%;
}

.footer__logo__insta {
  display: inline-block;
  width: 3.33vw;
  height: 3.17vw;
  margin: 1.22vw 0 0 0.26vw;
  cursor: pointer;
  transition: .4s;
}

.footer__logo__insta:hover {
  opacity: .5;
}

.footer__logo__insta img {
  width: 100%;
  height: 100%;
}

/*  
  1.2 footer__bottom
---------------------------------*/
.footer__bottom {
  height: 3.59vw;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6000000,endColorstr=#E6000000);
  background-color: rgba(0, 0, 0, 0.8);
}

.footer__bottom:not(:target) {
  filter: none;
}

.copyright {
  display: inline-block;
  margin: 1.4vw 0 0 2.6vw;
  color: #fff;
  font-size: 0.78vw;
  line-height: 1.5vw;
  letter-spacing: 0.1em;
}

.copyright--iphonex {
  display: none;
}

/*---------------------------------

  section6 768px 幅

---------------------------------*/
@media screen and (max-width: 1079px) {
  /*  
        1.1 footer__inner
    ---------------------------------*/
  .footer__inner {
    overflow: hidden;
  }
  /*  
        1.1.2 footer__content
    ---------------------------------*/
  .footer__content__text {
    transform: scale(0.9);
    transform-origin: left top;
    font-size: 1rem;
  }
  /*  
        1.1.3 footer__contact
    ---------------------------------*/
  .footer__address {
    transform: scale(0.9);
    transform-origin: left top;
    font-size: 1rem;
  }
  /*  
        1.2 footer__bottom
    ---------------------------------*/
  .copyright {
    transform: scale(0.5);
    transform-origin: left top;
    font-size: 1rem;
  }
}

/*---------------------------------

  section6 414px 幅

---------------------------------*/
@media screen and (max-width: 767px) {
  /*  
        1.1.2 footer__content
    ---------------------------------*/
  .footer__content {
    width: 47.9vw;
  }
  .footer__content__title {
    transform: scale(0.7);
    transform-origin: left top;
    font-size: 1rem;
  }
  .footer__content__title::before {
    width: 7.8vw;
    bottom: -1.43vw;
    left: .25vw;
  }
  .footer__content__text {
    transform: scale(0.7);
    line-height: 1.1;
  }
  /*  
        1.1.3 footer__contact
    ---------------------------------*/
  .footer__contact {
    width: 57.2vw;
    margin-left: 11.98vw;
  }
  .footer__contact__title {
    transform: scale(0.6);
    transform-origin: left top;
    font-size: 1rem;
  }
  .footer__address {
    transform: scale(0.6);
    height: 4.5vw;
    margin-left: 0;
    line-height: 1.1;
  }
  .footer__logo__facebook {
    margin-left: 3.14vw;
  }
  /*  
        1.2 footer__bottom
    ---------------------------------*/
  .footer__bottom {
    position: relative;
  }
  .copyright {
    position: absolute;
    top: 0.48vw;
    left: 0;
    transform: scale(0.1);
    transform-origin: left top;
    font-size: 1rem;
  }
}

/*---------------------------------

  header iphoneX 幅

---------------------------------*/
@media screen and (max-width: 413px) {
  /*  
        1.1 footer__inner
    ---------------------------------*/
  .footer__inner {
    display: block;
    height: 104.41vw;
  }
  /*  
        1.1.1 footer__logo
    ---------------------------------*/
  .footer__logo {
    width: 69.06vw;
    height: 53.74vw;
    margin: 0 auto;
  }
  /*  
        1.1.2 footer__content
    ---------------------------------*/
  .footer__content {
    display: none;
  }
  .footer__contact {
    position: relative;
    width: 62.33vw;
    margin: 22.34vw auto 0;
  }
  .footer__contact__title {
    display: none;
  }
  .footer__address {
    transform: scale(1);
    font-weight: 500;
    font-size: 3.46vw;
    line-height: 5.6vw;
    font-family: YuMincho;
    text-align: center;
  }
  .footer__address--pc {
    display: none;
  }
  .footer__logo__facebook {
    display: inline-block;
    position: absolute;
    top: -24.64vw;
    left: 8.26vw;
    width: 10.93vw;
    height: 10.13vw;
    margin: 0;
  }
  .footer__logo__insta {
    display: inline-block;
    position: absolute;
    top: -24.64vw;
    right: 8.26vw;
    width: 10.93vw;
    height: 10.13vw;
    margin: 0;
  }
  /*  
        1.2 footer__bottom
    ---------------------------------*/
  .footer__bottom {
    position: static;
    height: 9.86vw;
    text-align: center;
  }
  .copyright {
    display: none;
  }
  .copyright--iphonex {
    display: inline-block;
    transform: scale(1);
    margin-top: 1.6vw;
    color: #fff;
    font-size: 2.66vw;
    line-height: 3.46vw;
    letter-spacing: 0.1em;
    text-align: center;
  }
}
