/*---------------------------------

  section3

  1. secton2
    1.1 section3__vertical-title
    1.2 section3__titile__unit
    1.3 section3__content
        1.3.1 section__message
        1.3.2 section__image

---------------------------------*/

/*  
  1. section3
---------------------------------*/
.section3 {
    position: relative;
    padding: 7.29vw 0 7.76vw;
    background-color: #fff;
}

/*  
  1.1 section3__vertical-title
---------------------------------*/
.section3__vertical-title {
    opacity: 0.1;
    position: absolute;
    top: 26.66vw;
    left: -13.68vw;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    color: rgba(0, 0, 0, 0.8);
    font-weight: normal;
    font-size: 3.64vw;
    line-height: 1.56vw;
    font-family: "Toppan BunkyuMidashiMinStdN";
    letter-spacing: 0.1em;
    text-align: center;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
}

/*  
  1.2 section3__titile__unit
---------------------------------*/
.section3__title__unit {
    margin-left: 6.66vw;
}

.section3__title {
    color: rgba(0, 0, 0, 0.8);
    font-weight: normal;
    font-size: 3.12vw;
    letter-spacing: 0.1em;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
}

.section3__title-line {
    display: inline-block;
    width: 18.72vw;
    height: 2px;
    margin: 1.73vw 0 0.19vw 12.52vw;
    background-color: black;
}

/*  
  1.3 section3__content
---------------------------------*/
.section3__content {
    position: relative;
    width: 80vw;
    height: 51.14vw;
    margin-left: 16.09vw;
}

/*  
  1.3.1 section3__message
---------------------------------*/
.section3__message {
    opacity: 0.9;
    position: absolute;
    top: 0;
    right: 0;
    width: 39.63vw;
    height: 24.21vw;
    background-color: #f8f8f8;
}

.section3__message__inner {
    margin: 0 4.66vw 0 3.95vw;
    padding-top: 4.01vw;
    text-align: right;
}

.section3__content__text--ja {
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.93vw;
    line-height: 1.56vw;
    letter-spacing: 0.1em;
    text-align: left;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.section3__content__text--en {
    margin-top: 3.46vw;
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.78vw;
    letter-spacing: 0.1em;
    text-align: left;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.section3__btn {
    display: inline-block;
    transition: .4s;
    margin-top: 5.39vw;
    padding: 1.02vw 1.61vw 0.75vw;
    border: 1px solid #333;
    color: rgba(0, 0, 0, 0.9);
    font-size: 0.78vw;
    letter-spacing: 0.1em;
    text-align: center;
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.16);
    &:hover {
        background: rgba(0, 0, 0, 0.9);
        color: #fff;
    }
}

/*  
  1.3.2 section3__image
---------------------------------*/
.section3__image--l {
    width: 46.77vw;
    height: 30.36vw;
    padding-top: 7.85vw;
}

.section3__photo--l {
    width: 100%;
    height: 100%;
}

.section3__image--grid {
    margin-top: 3.48vw;
    width: 80vw;
    height: 15.52vw;
}

.section3__photo--grid {
    width: 100%;
    height: 100%;
}


/*---------------------------------

  section1 768px 幅

---------------------------------*/
@include mq('tab') {

    /*  
      1. section3
    ---------------------------------*/
    .section3 {
        padding: 7.73vw 0 7.46vw;
    }

    /*  
      1.1 vertical-title
    ---------------------------------*/
    .section3__vertical-title {
        opacity: 0.1;
        top: 29.66vw;
        font-weight: normal;
        font-size: 3.64vw;
        line-height: 12px;
        font-family: "Toppan Bunkyu Midashi Mincho";
        letter-spacing: 0.1em;
    }

    /*  
      1.2 section3__title__unit
    ---------------------------------*/
    .section3__title__unit {
        margin-left: 8.73vw;
    }

    .section3__title {
        font-size: 2.99vw;
    }

    .section3__title-line {
        width: 23.93vw;
        height: 3px;
        margin: 2.16vw 0 0 10.92vw;
        vertical-align: bottom;
    }

    /*  
      1.3 section3__content
    ---------------------------------*/
    .section3__content {
        width: 80.1vw;
        margin-top: 0.5vw;
    }

    /*  
    1.3.1 section3__message
    ---------------------------------*/
    .section3__message {
        opacity: 0.9;
        position: absolute;
        top: 0;
        width: 39.63vw;
        height: 24.21vw;
    }

    .section3__message__inner {
        margin: 0 0 0 3.95vw;
        padding-top: 4.01vw;
        text-align: right;
    }

    .section3__content__text--ja {
        transform: scale(0.6);
        transform-origin: left top;
        width: 29.7rem;
        font-size: 1rem;
        line-height: 1.56vw;
        letter-spacing: 0.1em;
    }

    .section3__content__text--en {
        transform: scale(0.6);
        transform-origin: left top;
        margin-top: 4.41vw;
        font-size: 1rem;
        letter-spacing: 0.1em;
    }

    .section3__btn {
        transform: scale(0.5);
        transform-origin: top;
        margin-top: 2.69vw;
        padding: 2.08vw 4.32vw 1.71vw 4.68vw;
        font-size: 1rem;
    }
}

/*---------------------------------

  section1 414px 幅

---------------------------------*/
@include mq('sp') {

     /*  
      1. section3
    ---------------------------------*/
    .section3 {
        z-index: -2;
        padding: 0;
    }

    /*  
        1.1 vertical-title
    ---------------------------------*/
    .section3__vertical-title {
        top: 57.66vw;
        left: -31.48vw;
        z-index: -1;
        font-size: 6.76vw;
    }

    /*  
      1.2 section3__title__unit
    ---------------------------------*/
    .section3__title__unit {
        margin-left: 0;
        padding: 10.67vw 0 0 8.69vw;
        background-color: #f8f8f8;
    }

    .section3__title {
        font-size: 4.58vw;
    }

    .section3__title-line {
        display: none;
    }

    /*  
        1.3 section3__content
    ---------------------------------*/
    .section3__content {
        width: 100%;
        height: auto;
        margin-left: 0;
        position: static;
    }

    /*  
        1.3.1 section3__message
    ---------------------------------*/
    .section3__message {
        position: static;
        width: 73.56vw;
        height: 44.95vw;
        margin-left: 22.46vw;
        background-color: #fff;
    }

    .section3__message__inner {
        margin: 0 0 0 7.34vw;
        padding-top: 6.69vw;
    }

    .section3__content__text--ja {
        transform: scale(0.9);
        font-size: 1rem;
        line-height: 1em;
    }

    .section3__content__text--en {
        transform: scale(0.9);
        margin-top: 7.46vw;
        font-size: 1rem;
        line-height: 1em;
    }

    .section3__btn {
        transform: scale(.7);
        margin: 9.22vw 0 0 0;
        padding: 3.44vw 6.9vw 3.1vw;
        font-size: 1rem;
        letter-spacing: 0.1em;
    }
    /*  
        1.3.2 section3__image
    ---------------------------------*/
    .section3__image--l {
        width: 86.8vw;
        height: 56.35vw;
        margin: 0 auto;
    }

    .section3__image--grid {
        width: 100%;
        height: auto;
        margin-top: 4.68vw;
    }
}

/*---------------------------------

  header iphoneX 幅

---------------------------------*/
@include mq('iphonex') {
    /*  
        1. section3
    ---------------------------------*/
    .section3 {
        padding: 18.4vw 0 8.26vw 0;
    }

    /*  
        1.1 vertical-title
    ---------------------------------*/
    .section3__vertical-title {
        top: 101.66vw;
        left: -47vw;
        font-size: 10.66vw;
        font-family: "Toppan Bunkyu Midashi Mincho";
    }

    /*  
        1.2 section3__titile__unit
    ---------------------------------*/
    .section3__title__unit {
        margin: 0;
        padding: 0;
        background-color: #fff;
        text-align: center;
    }

    .section3__title {
        font-size: 6.66vw;
    }

    .section3__title-line {
        display: inline-block;
        width: 56.09vw;
        height: 1px;
        margin: 7.06vw 0 0 30.4vw;
    }

    /*  
        1.3.1 section3__message
    ---------------------------------*/
    .section3__message {
        width: 71.73vw;
        height: 106.66vw;
        margin: 15.65vw 0 0 auto;
        background-color: #f8f8f8;
    }

    .section3__message__inner {
        margin: 0 5.33vw 0 5.86vw;
        padding-top: 6.42vw;
    }

    .section3__content__text--ja {
        transform: scale(1);
        width: 60.8vw;
        height: 60.55vw;
        font-size: 4vw;
        line-height: 6.66vw;
    }

    .br__pc {
        display: none;
    }

    .section3__content__text--en {
        transform: scale(1);
        margin-top: 6.82vw;
        font-size: 4vw;
        line-height: 5.6vw;
    }

    .section3__btn {
        transform: scale(1);
        margin-top: 6.66vw;
        padding: 3.01vw 6.45vw;
        font-size: 3.2vw;
    }

    /*  
        1.3.2 section3__image
    ---------------------------------*/
    .section3__image {
        margin-top: 21.3vw;
    }

    .section3__image--l {
        width: 100%;
        height: auto;
    }

    .section3__image--grid {
        width: 100%;
        height: auto;
        margin-top: 9.6vw;
    }
} 